{% extends "admin_side/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="row">#</th>
      <td>Item</td>
      <td>Quantity</td>

      <td>&nbsp;</td>
    </tr>
      {% for i in data %}

      <td>&nbsp;{{ loop.index }}</td>

      <td>&nbsp;&nbsp;{{ i['name'] }}</td>

      <td>&nbsp;&nbsp;{{ i['quantity'] }}</td>

         <td>
                       {% if i.admin_price==0 %}

             <p><a href="/collected_product_price/{{ i['item_id'] }}">price</a></p>
         {% else %}
                      <p><a href="/update_price/{{ i['item_id'] }}">update price</a></p>
         {% endif %}
         </td>

{#      <p><a href="#">Send Payment</a></p></td>#}
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
