{% extends "seller_side/seller_index.html"  %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>

<form><table border="1">
  <tr>
    <td>#</td>
    <td>Product Name</td>
    <td><p>Price</p></td>
    <td><p>Status</p></td>


  </tr>
{% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>&nbsp;&nbsp;{{ i['name'] }}</td>
      <td>&nbsp;&nbsp;{{ i['seller_price'] }}</td>
      <td>&nbsp;&nbsp;{{ i['status'] }}</td>


  </tr>
{% endfor %}<br><br>
<tr>Total Earnings=&nbsp;&nbsp;&nbsp;&nbsp;RS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a['total'] }}/-</tr><br><br>
<tr>Pending payments=&nbsp;&nbsp;&nbsp;&nbsp;RS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ b['total']  }}/-</tr><br><br>
</table>

</form>
</body>
</html>
{% endblock %}
