{% extends "user_side/user_index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
<table  border="0" class="table table-hover">
  <tr>
    <td>#</td>

    <td>Product Name</td>
     <td>Details</td>
    <td>Stock</td>
    <td>Image</td>
     <td>Price</td>


      <td></td>

  </tr>
    {% for i in data %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i['name'] }}</td>

    {% if i.quantity!=0 %}
     <td>{{ i.quantity }}</td>
  {% else %}
       <td>no stock</td>

  {% endif %}
  <td><img src=" {{ i['item_image'] }}" height="100" width="100"> </td>
      <td> ₹ {{ i['admin_price'] }}  /-</td>
      {% if i.admin_price==0 %}
      <td> currently unavailable  </td>
      {% else %}

     <td><a href="/add_to_cart/{{ i['id'] }}">add to cart</a></td>
      {% endif %}



  </tr>
    {% endfor %}

</table>
</form>
</body>
</html>
{% endblock %}
{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
{#<style>#}
{#.card {#}
{#  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);#}
{#  max-width: 300px;#}
{#  margin: auto;#}
{#  text-align: center;#}
{#  font-family: arial;#}
{#}#}
{##}
{#.title {#}
{#  color: grey;#}
{#  font-size: 18px;#}
{#}#}
{##}
{#button {#}
{#  border: none;#}
{#  outline: 0;#}
{#  display: inline-block;#}
{#  padding: 8px;#}
{#  color: white;#}
{#  background-color: #000;#}
{#  text-align: center;#}
{#  cursor: pointer;#}
{#  width: 100%;#}
{#  font-size: 18px;#}
{#}#}
{##}
{#a {#}
{#  text-decoration: none;#}
{#  font-size: 22px;#}
{#  color: black;#}
{#}#}
{##}
{#button:hover, a:hover {#}
{#  opacity: 0.7;#}
{#}#}
{#</style>#}
{#</head>#}
{#<body>#}
{##}
{#<h2 style="text-align:center">User Profile Card</h2>#}
{#{% for i in data %}#}
{#    <div class="card-row">#}
{#<div class="card">#}
{#    #}
{#  <img src=" {{ i['item_image'] }}" alt="John" style="width:100%">#}
{#  <h1>{{ i['name'] }}</h1>#}
{#  <p class="title"></p>#}
{#  <p>Harvard University</p>#}
{#  <div style="margin: 24px 0;">#}
{#    <a href="#"><i class="fa fa-dribbble"></i></a>#}
{#    <a href="#"><i class="fa fa-twitter"></i></a>#}
{#    <a href="#"><i class="fa fa-linkedin"></i></a>#}
{#    <a href="#"><i class="fa fa-facebook"></i></a>#}
{#  </div>#}
{#  <p><button>Contact</button></p>#}
{#</div>#}
{#    </div>#}
{#{% endfor %}#}
{#</body>#}
{#</html>#}
{#{% endblock %}#}