{% extends "user_side/user_index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
<table  border="0" class="table table-hover">
  <tr>
    <td>#</td>
   
    <td>Product Name</td>
{#     <td>Details</td>#}
    <td>Stock</td>
     <td>Price</td>
     

      <td></td>
    
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i['name'] }}</td>
    {% if i.quantity!=0 %}
     <td>{{ i.quantity }}</td>
  {% else %}
       <td>no stock</td>
  {% endif %}
      <td> ₹ {{ i['admin_price'] }}  /-</td>
      {% if i.admin_price==0 %}
      <td> currently unavailable  </td>
      {% else %}

     <td><a href="/add_to_cart/{{ i['id'] }}">add to cart</a></td>
      {% endif %}

     
    
  </tr>
    {% endfor %}
  
</table>
</form>
</body>
</html>
{% endblock %}
